[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==1.7.1"
transformers = "==3.5.1"
tqdm = "*"
ml-pyxis = {file = "https://github.com/vicolab/ml-pyxis/archive/master.zip"}

[dev-packages]

[requires]
python_version = "3.8"
